node_modules/
bower_components/
public/docs/*
Gemfile.lock
*.log

build/
dist/

.DS_Store

server/libraries/supportedLibraries/*
!server/libraries/supportedLibraries/.emptyDir

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/.*

public/js/bundle.js
public/docs/*
Gemfile.lock
config.ru
