body {
  font-family: 'Roboto', sans-serif;
  padding: 51px 0px 3px 0px;
}

.app {
  border: 1px solid gray;
}

.answer {
  padding: 10px;
}


.dateTag {
  font-size: x-small;
  margin-right: 3px;
}

.userTag {
  font-size: x-small;
  color: blue;
}

.AnswerBody {
  margin-top: 10px;
  padding-left: 20px;
}

.documentation {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px;
  width: 60%;
  float: left;
  height: 100%;
  overflow: scroll;
  padding-left: 30px;
  padding-right: 30px;
}

.resourceTableHeader {
  text-align: center;
}

.expand {
  margin-right: 10px;
}

.signInToPost {
  margin-bottom: 10px;
}

.PostFooter {
}

hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

textarea {
  transition: all 2s ease;
  height: 30px;
  width: 100%;
}

textarea.entering {
  transition: all 2s ease;
  height: 150px;
  width: 100%;
}

.examples {
  overflow: scroll;
}

.hidden {
  display: none;
}

.ignored {
  display: none;
}

.library {
  margin-top: 5px;
}

.libraryTitle {
  padding-left: 10px;
}

.libraryList {
  padding: 10px;
}

.libraryChildren {
  padding-left: 15px;
  margin-top: 5px;
}

.libraryGrandChild {
  padding-left: 15px;
  margin-top: 5px;
}

.method {
  height: 50px;
  /*position: absolute;*/
}

.panel-group {
  margin-bottom: 0px;
}

.QA {
  overflow: scroll;
}

.question {
  background-color: #FFF8DC;
  padding: 10px;
}

.resources {
  width: 25%;
  float: left;
  height: 100%;
}

.sidebar {
  width: 15%;
  float: left;
  height: 100%;
  overflow: scroll;
}

.stackOverFlow {
  overflow: scroll;
}

.title:hover {
  background-color: #CCFFCC;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#logo {
  display: inline;
}
