body {
  font-family: 'Roboto', sans-serif;
}

.app {
  border: 1px solid black;
}

.answer {
  padding: 10px;
}

.documentation {
  border: 1px solid orange;
  width: 58%;
  float: left;
  height: 100%;
  overflow: scroll;
}

.expand {
  margin-right: 10px;
}

input {
  transition: all 2s ease;
  height: 15px;
  width: 50%;
}

input.entering {
  transition: all 2s ease;
  height: 150px;
  width: 90%;
}

.examples {
  border: 1px solid purple;
  height: 30%;
}

.hidden {
  display: none;
}

.ignored {
  display: none;
}

.library {
  margin-top: 5px;
}

.libraryList {
  border: 1px solid red;
  padding: 10;
}

.libraryChildren {
  padding-left: 15px;
  margin-top: 5px;
}

.libraryGrandChild {
  padding-left: 15px;
  margin-top: 5px;
}

.method {
  height: 50px;
  /*position: absolute;*/
}

.QA {
  height: 30%;
}

.question {
  background-color: #FFF8DC;
  padding: 10px;
}

.resources {
  border: 1px solid blue;
  width: 25%;
  float: left;
}

.sidebar {
  border: 1px solid green;
  width: 15%;
  float: left;
  height: 100%;
  overflow: scroll;
}

.stackOverFlow {
  border: 1px solid yellow;
  height: 30%;
  overflow: scroll;
}

.title:hover {
  background-color: #CCFFCC;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
